<nav class="navbar navbar-expand-lg navbar-light navbar-landing-page">
  <%#= link_to pages_landing_page_path do %>
    <div class="landing-page-logo">
      LOGO
    </div>
    <%# end %>
  <button id="navbar-menu-landing-page" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% ProductCategory.all.each do |category| %>
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          <%= category.naam %>
        </div>
      </li>

      <% end %>
    </ul>
        <% if !user_signed_in? %>
        <div class="login-item" style="background-color: transparent">
          <%= link_to new_user_session_path do %>
            Log in
          <% end %>
        <% else %>
        <!-- <li class="nav-item navbar-home-item landing-page-navbar-right-item"> -->
          <div class="nav-link">
            <%= link_to "Dashboard", product_categories_path, class: "dropdown-item" %>
          </div>
        <!-- </li> -->
        <div class="login-item" style="background-color: transparent">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% end %>
        </div>
  </div>
</nav>
<!--
<script>

  $( document ).ready(function() {
    $('.dropdown-submenu a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
    $('#dropdownMenuButton').on("click", function(e){
      $('.navbar-collapse').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  // });
  $('#navbar-menu-landing-page').on("click", function(e){
      $('.navbar-collapse').toggle();
    });
  });

</script> -->

