<nav class="navbar navbar-expand-lg navbar-light navbar-landing-page">
  <%#= link_to pages_landing_page_path do %>
    <div class="landing-page-logo">
      LOGO
    </div>
    <%# end %>
  <button id="navbar-menu-landing-page" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          link
          <%#= link_to "Home", pages_landing_page_path %>
        </div>
      </li>
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          link
          <%#= link_to t('.features'), pages_features_path %>
        </div>
      </li>
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          link
          <%#= link_to t('.about_us'), pages_about_us_path %>
        </div>
      </li>

    </ul>
        <% if !user_signed_in? %>
        <div class="login-item" style="background-color: transparent">
          <%= link_to new_user_session_path do %>
            Log in
          <% end %>
        <% else %>
        <!-- <li class="nav-item navbar-home-item landing-page-navbar-right-item"> -->
          <div class="nav-link">
            <%= link_to "Dashboard", product_categories_path, class: "dropdown-item" %>
          </div>
        <!-- </li> -->
        <div class="login-item" style="background-color: transparent">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% end %>
        </div>
  </div>
</nav>

<script>
// $(document).ready(function(){
  // document.addEventListener("turbolinks:load", function(event) {
// $(document).on('turbolinks:load', function() {
  $( document ).ready(function() {
    $('.dropdown-submenu a.test').on("click", function(e){
      // console.log(this)
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
    $('#dropdownMenuButton').on("click", function(e){
      $('.navbar-collapse').toggle();
      // $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  // });
  $('#navbar-menu-landing-page').on("click", function(e){
      $('.navbar-collapse').toggle();
      // $('.navbar-collapse').toggle();
    });
  });
// });



//   document.addEventListener("turbolinks:load", function(event) {
//   $('#dropdownMenuButton').on("click", function(e){
//     $(this).next('ul').toggle();
//     e.stopPropagation();
//     e.preventDefault();
//   });
// });

</script>

