<div class="background-banner-container">
<div class="banner-container">
  <div class="banner-text">
    <h1>Handgemaakte babyspullen</h1>
    <br>
    <!-- <h4>Handgemaakte babyspullen</h4> -->
    <!-- <br> -->
    <h5> <i>"Ik heb overal gezocht naar die mooie spullen zoals ik die als kind ook heb gehad, maar nergens meer te krijgen zijn"</i></h5>
  </div>
</div>

<div class="product-categories-container">
  <% ProductCategory.all.each do |category| %>
  <%= link_to product_category_path(category) do %>
  <div class="product-category-box">
  <div class="product-category-card">
    <% if !category.photo.attachment.nil? %>
    <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill, class:"card-item" %>
    <% else %>
      No photo
    <% end %>
    <p><b class="product-category-card-name"><%= category.naam %></b></p>
  </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
