<div class="banner-container">
  <div class="banner-text">
    <h1>Handgemaakte babyspullen</h1>
    <br>
    <!-- <h4>Handgemaakte babyspullen</h4> -->
    <!-- <br> -->
    <h5> <i>"Ik heb overal gezocht naar die mooie spullen zoals ik die als kind ook heb gehad, maar nergens meer te krijgen zijn"</i></h5>
  </div>
</div>

<div class="product-categories-container">
  <% ProductCategory.all.each do |category| %>
  <div class="product-category-box">
  <div class="product-category-card">
    <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill, class:"card-item" %>
    <p><b><%= category.naam %></b></p>
  </div>
  </div>
  <% end %>
</div>
