<div class="dashboard-container">
<%= link_to new_product_category_path do  %>
new
<% end %>
<% @product_categories.each do |category| %>
  <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
