<div class="dashboard-container">
  <div class="dashboard-products-container">
    <div class="product-category-box">
  <div class="new-product-category-container">
    <%= link_to new_product_category_path do  %>
    <i class="far fa-plus-square fa-5x"></i>
    <p></p>
    Voeg categorie toe
    <% end %>
  </div>
  </div>
  </div>

  <div class="dashboard-products-container">
    <% @product_categories.each do |category| %>
    <div class="product-category-box">
      <%= link_to edit_product_category_path(category) do  %>
      <div class="product-category-card">
        <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill, class:"card-item" %>
        <br>
        <p> <%= category.naam %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
