.background-banner-container{
  background-color: white;
}
.banner-container{
  background-color: white;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  font-family: 'Alegreya Sans', sans-serif;
  // border-radius: 0 0 10px 10px;
  .banner-text{
    width: 50%;
    text-align: center;
  }
}
