.background-banner-container{
  background-color: #FBF8E8;;
  // display: flex;
  // justify-content: center;
}
.banner-container{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  // background-color: white;
  // padding: 5% 10%;
  // display: flex;
  // justify-content: center;
  // font-family: 'Alegreya Sans', sans-serif;
  // border-radius: 0 0 10px 10px;
  .banner-text{
    width: 50%;
    text-align: center;
  }
}

.banner {
  width: 90%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  padding: 10vh;
  height: 70vh;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  .container{
    color: #3057a7;
    text-align: center;
  }

}

.banner h1 {
  margin: 0;
  // color: white;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  // color: white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
