.product_category-form-container{
  background-color: #EEF7EF;
  padding: 10% 25%;
  height: 900px;
  .product_category-form{
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    border-style: solid;
    border-color: green;
    .terug-text{
      text-align: center;
    }
  }
  .save-btn{
    background-color: green;
    padding:2% 5%;
    width:fit-content;
    border-radius:5px;
    text-decoration: none;
    color:white !important;
  }
  h3{
    text-align: center;
  }

  .product_category-form-items{
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    border-style: solid;
    border-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    p{
      margin: 0;
    }
  }
}

