.product-item-container{
  background-color: #faf7ee;
  display: flex;
  justify-content: center;
  // min-height: 600px;
  padding: 5% 15%;
  .product-item-card{
    // height: 400px;
    width: 400px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: white;
  }
}

#card-product-trip{
  height: auto;
  width: 100%;
}

.carousel-inner .active{
  display: flex;
  justify-content: center;
  padding: 1%;
  height: 400px;
  img{
    height: 100%;
  }
}

.card-product-trip-image{
  height: 400px;
  img{
    height: fit-content;
  }
}

.carousel-indicators li{
  background-color: black;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.border-bottom-invoice{
  margin-bottom: 5%;
}

.border-bottom-pics{
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}

.header-pics{
  text-align: center;
}

.custom-check-box, .check-box-container{
  text-align: center;
}
