// .container-slogan{
//   background-color: #fde3d7;
//   color: #3057a7;
// }

.card-item-no-product-category-image{
  height: 300;
  width: 400;
}

.dashboard-categorie-opties{
  margin-top: 2%;
  .fa-edit{
    color: green
  }
  .verwijder{
    color: red !important;
  }
  p{
    margin-bottom: 0 !important;
  }
}

.product-categories-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // background-color: #fde3d7;
  background-color: white;
  // border-radius: 50px;
  // margin: 0 10%;
  padding: 2% 5%;
  a{
    text-decoration: none !important;
  }
  .product-category-box{
    margin-top: 5%;
    height: 300px;
    // width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10%;
  }
  .product-category-card{
    img{
    height: 250px;
    width: 250px;
    // border-radius: 15px;
    border-radius: 50%;
    // border-style: solid;
    // border-color: white;
    // border-width: 19px;
    }
    img:hover{
      // border-color: black;
    }
    p{
      color: black;
      margin-top: 4%;
    // }
    }
    .product-category-card-name{
      color: #91ab9d!important;
    // background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    text-decoration: underline;
    }
  }
}

.new-product-category-container, .no-product-category-image{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 30% 5%;
  background-color: white;
  border-width: 3px;
  a{
    text-decoration: none !important;
    color: green;
  }
}

.new-product-category-container{
  border-style: dashed;
  border-color: green;
}

.no-product-category-image{
  border-style: solid;
  border-color: red;
}

.new-product-category-container:hover{
  border-color: none;
  background-color: green;
  a{
    text-decoration: none !important;
    color: white;
  }
  .far{
    text-decoration: none !important;
    color: white;
  }
}

.product-category-overview-item{
  margin: 5%;
  p{
    color: black;
  }
  .verwijder{
    color: red !important;
  }
}

.banner-container-product{
  display: flex;
  justify-content: center;
  // background-color: white;
  padding: 1% 0;
  background-color: #8ca89a;
}

.banner-product-avatar-container{
  text-align: center;
  p{
    margin-bottom: 0;
    color: white;
  }
}

.avatar-product{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  object-fit: cover;
}
