.card-item-no-product-category-image{
  height: 300;
  width: 400;
}

.dashboard-categorie-opties{
  margin-top: 2%;
  .fa-edit{
    color: green
  }
  .verwijder{
    color: red !important;
  }
  p{
    margin-bottom: 0 !important;
  }
}

.product-categories-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  a{
    text-decoration: none !important;
  }
  .product-category-box{
    margin-top: 5%;
    height: 300px;
    // width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10%;
  }
  .product-category-card{
    img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    // border-style: solid;
    // border-color: #facfee;
    }
    img:hover{
      // border-color: black;
    }
    p{
      color: black;
    // }
    }
  }
}

.new-product-category-container, .no-product-category-image{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 30% 5%;
  background-color: white;
  border-width: 3px;
  a{
    text-decoration: none !important;
    color: green;
  }
}

.new-product-category-container{
  border-style: dashed;
  border-color: green;
}

.no-product-category-image{
  border-style: solid;
  border-color: red;
}

.new-product-category-container:hover{
  border-color: none;
  background-color: green;
  a{
    text-decoration: none !important;
    color: white;
  }
  .far{
    text-decoration: none !important;
    color: white;
  }
}

.product-category-overview-item{
  margin: 5%;
  p{
    color: black;
  }
  .verwijder{
    color: red !important;
  }
}

