.new-small-card-container{
  display: flex;
  justify-content: center;
  text-align: center;
.new-small-card, .new-small-card-no-photo{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  background-color: white;
  border-width: 3px;
  a{
    text-decoration: none !important;
    color: green;
  }
  .far{
    color: green;
  }
}
.new-small-card{
  border-style: dashed;
  border-color: green;
}
.new-small-card-no-photo{
  border-style: solid;
  border-color: red;
}
}

.fa-exclamation-triangle{
  color: red;
}

.small-card-text{
  text-align: center;
}
