<div class="nested-fields border-bottom-invoice">
  <div class="row">
    <div class="col-lg-2 col-md-9 col-sm-12 col-xs-12">
    <%= cl_image_tag f.object.photo, height: 50, width: 50 %>
  </div>
    <div class="col-lg-5 col-md-9 col-sm-12 col-xs-12"><%= f.input :photo, label:false %></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 check-box-container">
      <%= f.input :profile_picture, label:false, input_html: { class: 'custom-check-box' }  %></div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <%= link_to_remove_association f do %>
        <i class="fas fa-trash"> Wis foto</i>
        <% end %>
    </div>
  </div>
</div>
